@charset "UTF-8";
/* Home Page Calendar */
.eventDesADetail p {
  width: 235px;
  padding-bottom: 10px;
  color: #fff; }

.cbs-List ul, .cbs-List, .cbs-diagnosticContainer ul, .cbs-diagnosticSlot ul, .cbs-diagnosticItemContainer ul {
  width: 100%; }

/* Calendar Rollup */
.pm-rollupListItem {
  min-width: 350px; }

/* Global Banner */
.globalBannerContainer IMG {
  border: none;
  padding: 0 0 10px 0; }

/* RSS Feed Styles PA */
.rssFeed, #oes-news-room {
  font-size: 90%;
  background-color: #c26458; }

#oes-news-room {
  text-align: center;
  padding-top: 15px;
  font-size: 2em;
  color: #fff; }

.rssFeed a {
  color: #fff !important;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold; }

.rssFeed a:hover {
  color: #fff;
  text-decoration: underline; }

.rssFeed a:visited {
  color: #fff;
  text-decoration: none; }

.rssHeader {
  padding: 0.2em 0; }

/* .rssBody { border: 1px solid #292929; } */
.rssBody ul {
  list-style: none; }

.rssBody ul, .rssRow, .rssRow h4, .rssRow p {
  margin: 0;
  padding: 0; }

.rssRow {
  padding: 0.8em; }

/* .rssRow h4 { font-size: 1.1em; } */
.rssRow div {
  font-size: 90%;
  color: #fff;
  margin: 0.2em 0 0.4em 0; }

.rssRow .rssMedia {
  padding: 0.2em;
  font-size: 1em; }

.rssRow p {
  color: #fff !important; }

/*  Quick Links Styles  */
.quick-link-box {
  background-color: #326699;
  height: 42px;
  margin-top: 8px;
  padding: 2px; }

.ql-image {
  float: left;
  max-width: 40px; }

.ql-image img {
  padding: 2px !important;
  border: solid 2px transparent !important;
  width: 50px; }

.quick-link-title {
  float: right;
  color: #fff;
  white-space: nowrap;
  font-size: 14px;
  padding: 10px 15px 0 0; }

/* Activation Status */
.activation-status-box {
  margin: 10px 0;
  padding: 5px 0 5px 0; }

.activation-status-icon > img {
  position: relative;
  padding: 5px 0 0 10px !important;
  margin: 0px;
  max-width: 42px; }

.activation-status-text {
  text-align: right;
  padding: 0 10px 0 0; }

.activation-status-inactive {
  color: white;
  background: #7a7c7f; }

.activation-status-active-1 {
  color: white;
  background: #699676; }

.activation-status-active-2 {
  color: white;
  background: #dcb833; }

.activation-status-active-3 {
  color: white;
  background: #ef4e01; }

.activation-status-active-4 {
  color: white;
  background: #ff0000; }

.activation-status-active-5 {
  color: white;
  background: #699676; }

.activation-status-icon {
  display: inline;
  float: left; }

.activation-clear {
  clear: left; }

/* Operations Portal box */
.op-portal-box {
  background: #326699;
  color: white;
  margin: 10px 0;
  padding: 5px 0 5px 0; }

.op-portal-box-link:hover {
  text-decoration: none; }

.op-portal-icon > img {
  position: relative;
  padding: 5px 0 0 10px !important;
  margin: 0px;
  width: 36px; }

.op-portal-text {
  text-align: right;
  padding: 8px 10px 0 0; }

.op-portal-icon {
  display: inline;
  float: left; }

/*Contact Us Useful Contact Information table styles */
.contactOddRow {
  background-color: #e0edf6; }

.contactPadding {
  padding: 15px; }

.contactTable {
  width: 100%; }

.colRight {
  text-align: right;
  width: 30%; }

.colMiddle {
  width: 20%; }

.colLeft {
  width: 50%; }

/* facebook Youtube social */
#resultFacebook {
  background-color: white;
  max-width: 400px;
  padding: 10px; }

#resultYoutube {
  background-color: white;
  max-width: 400px;
  padding: 20px; }

.cdva-right-col #tabs div.tabbedWindow {
  background-color: transparent;
  padding: 20px 15px 10px;
  display: none;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0px -15px; }

ul.dpSocialFeedr, ul.dpSocialFeedr > li {
  margin: 0px;
  padding: 0px;
  list-style: none inside none;
  position: relative; }

ul.dpSocialFeedr > li {
  margin-bottom: 10px;
  padding-left: 27px; }

ul.dpSocialFeedr > li .icon {
  border: 0 solid transparent;
  box-sizing: inherit;
  left: 8px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0; }

ul.dpSocialFeedr img {
  border: 0 solid transparent;
  margin: 0;
  max-width: 200px;
  padding: 0; }

ul.dpSocialFeedr > li .permalink {
  display: inline-block;
  margin-bottom: 10px; }

ul.dpSocialFeedr > li .img_link {
  float: left;
  padding: 0px 10px 5px 0px; }

ul.dpSocialFeedr img {
  max-width: 200px; }

/* hide twitter images */
.inline-media {
  display: none !important; }

/* Document Grouped */
.downloadImage {
  float: left;
  margin: 0 2px !important;
  vertical-align: middle;
  width: 28px; }

.documentDescription.divCell, .linkDescription.divCell {
  padding-left: 36px; }

.documentItemBorder {
  border-top: 3px solid #f4f4f4;
  border-left: 3px solid #f4f4f4;
  border-right: 1px dotted #f4f4f4;
  border-bottom: 1px dotted #f4f4f4; }

/* Home Page events */
.kf-styleLessList UL.cbs-List, #s4-bodyContainer .main-content .pm-column-sidebar .webPartZoneIII .ms-webpartzone-cell UL.cbs-List, #s4-bodyContainer .main-content .pm-column-sidebar .webPartZoneIIII .ms-webpartzone-cell UL.cbs-List, .kf-webpart-list UL.cbs-List {
  display: block;
  list-style: outside none none; }

.kf-styleLessList UL.cbs-List LI, #s4-bodyContainer .main-content .pm-column-sidebar .webPartZoneIII .ms-webpartzone-cell UL.cbs-List LI, #s4-bodyContainer .main-content .pm-column-sidebar .webPartZoneIIII .ms-webpartzone-cell UL.cbs-List LI, .kf-webpart-list UL.cbs-List LI {
  display: inline-block; }

.kf-list-vertical UL.cbs-List LI, #s4-bodyContainer .main-content .pm-column-sidebar .webPartZoneIII .ms-webpartzone-cell UL.cbs-List LI, #s4-bodyContainer .main-content .pm-column-sidebar .webPartZoneIIII .ms-webpartzone-cell UL.cbs-List LI, .kf-webpart-list UL.cbs-List LI {
  display: block; }

.kf-webpart-list {
  margin-bottom: 20px;
  margin-top: 20px; }

.kf-webpart-list UL.cbs-List LI:first-child {
  padding: 0; }

.kf-webpart-list UL.cbs-List LI {
  background: none repeat scroll 0 0 #f1eee1; }

.kf-webpart-list UL.cbs-List LI H1, .kf-webpart-list UL.cbs-List LI H2, .kf-webpart-list UL.cbs-List LI H3, .kf-webpart-list UL.cbs-List LI H4, .kf-webpart-list UL.cbs-List LI H5 {
  margin: 0; }

.kf-webpart-list UL.cbs-List LI a, .kf-webpart-list UL.cbs-List LI a:link, .kf-webpart-list UL.cbs-List LI a:visited, .kf-webpart-list UL.cbs-List LI a:active {
  color: black; }

.kf-webpart-list UL.cbs-List LI .moreEventsLink a, .kf-webpart-list UL.cbs-List LI .moreEventsLink a:link, .kf-webpart-list UL.cbs-List LI .moreEventsLink a:active, .kf-webpart-list UL.cbs-List LI .moreEventsLink a:visited, .kf-webpart-list UL.cbs-List LI .moreEventsLink a:hover, .kf-webpart-list UL.cbs-List LI .moreNewsLink a, .kf-webpart-list UL.cbs-List LI .moreNewsLink a:link, .kf-webpart-list UL.cbs-List LI .moreNewsLink a:active, .kf-webpart-list UL.cbs-List LI .moreNewsLink a:visited, .kf-webpart-list UL.cbs-List LI .moreNewsLink a:hover {
  color: #ecdfa7;
  font-weight: 700; }

.pm-event-date, UL.cbs-List LI .eventHomeContainer .eventHomeDay {
  display: inline-block;
  font-size: 48px;
  padding-left: 16px;
  width: 58px; }

.pm-event-month, UL.cbs-List LI .eventHomeContainer .eventHomeMonth {
  display: inline-block;
  font-size: 16px;
  left: 0;
  padding-top: 40px;
  position: absolute;
  text-transform: uppercase;
  transform: rotate(-90deg); }

.pm-event-description, UL.cbs-List LI .eventHomeContainer .eventHomeTitle {
  display: inline-block;
  float: none;
  font-size: 16px;
  height: 42px;
  max-width: 69%;
  overflow: hidden;
  padding-top: 8px;
  text-overflow: ellipsis;
  vertical-align: top;
  width: auto; }

UL.cbs-List LI {
  background-color: white; }

UL.cbs-List LI .eventHomeContainer {
  background-color: #9a789e;
  color: white;
  border-bottom: 1px dashed white;
  padding-left: 15px;
  padding-right: 15px; }

UL.cbs-List LI .eventHomeContainer .eventHomeTitle a, UL.cbs-List LI .eventHomeContainer .eventHomeTitle a:active, UL.cbs-List LI .eventHomeContainer .eventHomeTitle a:visited, UL.cbs-List LI .eventHomeContainer .eventHomeTitle a:hover, UL.cbs-List LI .eventHomeContainer .eventHomeTitle a:link {
  color: black;
  font-size: 15px;
  font-weight: 900; }

UL.cbs-List LI .moreNewsLink, UL.cbs-List LI .moreEventsLink {
  display: block;
  margin: 0; }

UL.cbs-List LI:last-child .eventHomeContainer {
  border-bottom: 0 none; }

.pm-column-article.col-sm-12 UL.cbs-List LI .moreEventsLink {
  display: inline-block;
  margin: 0;
  width: 97.6%; }

/* Custom Calander Events */
.eventDiv {
  padding-bottom: 10px; }

.eventField {
  -moz-box-shadow: 0 4px 9px -4px #000000;
  -webkit-box-shadow: 0 4px 9px -4px #000000;
  box-shadow: 0 4px 9px -4px #000000;
  height: 100%;
  background-color: #aeaeae; }

.eventHeader {
  background-color: #f3cf5d;
  padding: 4px 5px 4px 5px; }

.eventHeader img {
  vertical-align: middle !important;
  display: inline;
  padding-right: 8px; }

.eventHeader a:hover {
  text-decoration: none; }

.eventContent {
  background-color: #e4e4e4;
  padding: 3px 5px 3px 5px;
  overflow: hidden;
  cursor: pointer;
  min-height: 150px; }

.eventContentDescription {
  background-color: #CCCCCC;
  padding: 3px 5px 3px 5px;
  overflow: hidden; }

/* Contacts Card */
.fieldTitle {
  font-weight: bold;
  padding: 6px 2px; }

.fieldBody {
  padding-left: 4px; }

.fieldBody.fieldInline {
  padding: 14px 0px 0px 0px; }

.fieldBody.fieldInline.contactName {
  padding: 10px 0; }

.fieldTitle.fieldInline {
  float: left; }

.fieldTitleName {
  margin-left: -14px; }

.contactHeader {
  background-color: #999999;
  margin-left: 0px;
  margin-right: 0px;
  padding: 3px 5px 3px 5px; }

.contactCardContainer {
  margin: 20px 0;
  -moz-box-shadow: 0 4px 9px -4px #000000;
  -webkit-box-shadow: 0 4px 9px -4px #000000;
  box-shadow: 0 4px 9px -4px #000000;
  padding-bottom: 5px;
  background-color: #e4e4e4; }

/*  P drive search result */
.p-drive-srch-result .ms-srch-item {
  width: 98%;
  padding: 5px 1% 5px 1%;
  margin: 10px 0px 10px -10px; }

.p-drive-srch-result .p-drive-srch-result, .p-drive-srch-result .ms-srch-item-path {
  padding: .5%; }

/* Embed code */
.pm-video {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }

.pm-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* news info */
/*.news-info-group {
    height: 180px;
}*/
.news-image-group.item-center {
  max-height: 128px;
  padding: 20px; }

.news-title.item-center {
  min-height: 60px; }

/* Used for Refiner web parts to make them full width */
.ms-ref-refiner #Value, .ms-ref-unsel-toggle, #OtherValue, #SubmitValue {
  display: block;
  padding: 4px 0;
  width: auto; }

.divContainer {
  display: block;
  /* padding-left: 20px; */ }

.divRow {
  display: block; }

.divCell {
  display: block;
  padding: 4px 10px; }

.divCell p {
  margin: 4px; }

.main-content .ms-webpart-chrome {
  border: 0px solid #b9b9b9 !important;
  background-color: transparent; }

.locationHours {
  display: inline-block;
  width: 120px; }

.locationHoursName {
  display: inline-block;
  width: 80px; }

.rowFirst, .rowFirstEdit {
  background-color: #D8D8D8;
  /* border-radius: 4px; */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  position: relative;
  z-index: inherit; }

.rowEven {
  background-color: #f5f5f5;
  /* border-radius: 4px; */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  position: relative; }

.rowOdd {
  background-color: #ffffff;
  /* border-radius: 4px; */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset; }

.rowEvenEdit {
  background-color: #E6E6E6;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset; }

.rowBand {
  padding: 4px 20px; }

/* center text and image */
.text-center {
  text-align: center; }

.text-center img {
  display: inline; }

.text-left {
  text-align: left; }

/* all caps */
.text-uppercase {
  text-transform: uppercase; }

/* Dialog Boxes */
.ms-dialog .dialog-box-12 {
  width: 100% !important; }

/* mix it up */
.mixitupControls {
  padding: 2%;
  background: #333;
  color: #eee; }

label {
  font-weight: 300;
  margin: 0 .4em 0 0; }

button.filter {
  background: none repeat scroll 0 0 #666 !important;
  border: 0 none !important;
  border-radius: 4px;
  color: #ddd !important;
  cursor: pointer !important;
  display: inline-block;
  font-size: 16px !important;
  font-weight: 300;
  max-width: 150px !important;
  padding: 0.4em 0.8em !important; }

button.filter.active {
  background: #68b8c4; }

button.filter:focus {
  outline: 0 none; }

button + label {
  margin-left: 1em; }

.mixitupContent {
  background: #03899c;
  position: relative;
  min-height: 580px;
  padding: 15px;
  overflow: hidden; }

.mixitupContent .mix {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  text-align: right;
  background: rgba(255, 255, 255, 0.4);
  margin-bottom: 4%;
  display: none;
  font-size: 25px;
  padding-right: .5em;
  line-height: 1.8em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  vertical-align: top;
  -webkit-backface-visibility: hidden;
  height: 425px; }

.mixitupContent .mix:before {
  content: '';
  display: inline-block;
  vertical-align: middle; }

.mixitupContent .mix:after {
  content: '';
  position: absolute;
  border: 20px solid transparent;
  border-right-color: white;
  top: -20px;
  left: -20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.mixitupContent .mix.category-1:after {
  border-right-color: #6bd2e8; }

.mixitupContent .mix.category-2:after {
  border-right-color: #a6e6a7; }

.mixitupContent .gap, .mixitupContent .mix {
  width: 48%; }

/*
* Mootools Simple Modal
* Version 1.0
* Copyright (c) 2011 Marco Dell'Anna - http://www.plasm.it
*
* Markup Modal
* <div class="simple-modal" id="simple-modal">
*   <div class="simple-modal-header">
*     <a class="close" href="#">×</a>
*     <h1>SimpleModal Title</h1>
*   </div>
*   <div class="simple-modal-body">
*     <div class="contents">
*       <p>
*         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
*       </p>
*     </div>
*   </div>
*   <div class="simple-modal-footer">
*     <a class="btn primary" href="#">Primary</a>
*     <a class="btn secondary" href="#">Secondary</a>
*   </div>
* </div>
*/
/* Vars */
/* Overlay style */
#simple-modal-overlay {
  position: fixed;
  display: block;
  z-index: 99998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-position: center center;
  background-repeat: no-repeat;
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#ffffff), to(#291a49));
  background: -webkit-radial-gradient(circle, #ffffff, #291a49);
  background: -moz-radial-gradient(circle, #ffffff, #291a49);
  background: -ms-radial-gradient(circle, #ffffff, #291a49); }

.simple-modal {
  /* Style rewrite */
  width: 600px;
  left: 20px;
  top: 20px;
  /* */
  position: absolute;
  position: fixed;
  margin: 0;
  color: #808080;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  background-color: #FFFFFF;
  border: 1px solid #EAEEFA;
  border: 1px solid rgba(234, 238, 250, 0.6);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  z-index: 99999;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px; }

.simple-modal .simple-modal-header {
  padding: 5px 15px;
  margin: 0;
  border-bottom: 1px solid #EEEEEE; }

.simple-modal .simple-modal-header h1 {
  margin: 0;
  color: #404040;
  font-size: 18px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 36px; }

.simple-modal a.close, .simple-modal a.previous-image, .simple-modal a.next-image {
  position: absolute;
  top: 16px;
  color: #999;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 10px;
  text-decoration: none; }

.simple-modal a.close {
  right: 15px; }

.simple-modal a.previous-image {
  right: 80px; }

.simple-modal a.next-image {
  right: 60px; }

.simple-modal a.close:hover, .simple-modal a.previous-image:hover, .simple-modal a.next-image:hover {
  color: #444; }

.simple-modal .simple-modal-body {
  padding: 15px;
  /* Extra style */ }

.simple-modal .simple-modal-body div.contents {
  overflow: hidden; }

.simple-modal .simple-modal-body p {
  font-size: 13px;
  font-weight: normal;
  color: #606060;
  line-height: 18px; }

.simple-modal .simple-modal-body p img {
  display: block;
  margin: 0 auto 10px auto; }

.simple-modal .simple-modal-footer {
  display: block;
  background-color: #F5F5F5;
  padding: 14px 15px 15px;
  border-top: 1px solid #EEEEEE;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #FFF;
  -moz-box-shadow: inset 0 1px 0 #FFF;
  box-shadow: inset 0 1px 0 #FFF;
  zoom: 1;
  margin-bottom: 0;
  text-align: center; }

.simple-modal .simple-modal-footer a.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  background-repeat: no-repeat;
  padding: 5px 14px 6px;
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid transparent;
  -webkit-transition: 0.2s linear all;
  -moz-transition: 0.2s linear all;
  transition: 0.2s linear all;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; }

.simple-modal .simple-modal-footer a.btn.primary {
  color: #FFF;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background-color: #999;
  background-repeat: repeat-x;
  margin-right: 15px; }

.simple-modal .simple-modal-footer a.btn.primary:hover {
  border: 1px solid #444;
  background-color: #444; }

.simple-modal .simple-modal-footer a.btn.secondary {
  padding: 5px 2px 6px; }

.simple-modal .simple-modal-footer a.btn.secondary:hover {
  color: #999; }

/* Draggable style */
.simple-modal.draggable .simple-modal-header:hover {
  cursor: move;
  background-color: #f8f8f8;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }

/* Loading style */
.simple-modal.loading .simple-modal-body {
  min-height: 60px;
  background: transparent url("../images/loader.gif") no-repeat center center; }

.simple-modal.loading .simple-modal-body div.contents {
  display: none; }

.simple-modal.loading .close, .simple-modal.loading .simple-modal-header, .simple-modal.loading .simple-modal-footer {
  display: none; }

/* Hide header */
.simple-modal.hide-header .simple-modal-header {
  display: none; }

/* Hide header */
.simple-modal.hide-footer .simple-modal-footer {
  display: none; }

/*# sourceMappingURL=components.css.map */
